@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;500;600;800&display=swap');

:root{
  --color-bg: #F3F3F3;
  --color-text: #0000;
  --shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--color-bg);
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    margin:0;
}